.main {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-gap: 20px;
	max-width: 1280px;
	margin: 0 auto;
}

.nav {
	grid-column: col-start / span 3;
	background-color: #ccc;
	padding: 20px;
}

.products {
	grid-column: auto / span 9;
	display: grid;
	grid-template-columns: repeat(9, [col-start] 1fr);
	grid-gap: 20px;
}

.item {
	position: relative;
	grid-column: auto / span 3;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

.item:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.item__bg {
	height: 305px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	padding: 2px 16px;
}

.container .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.onsale {
	display: none;
}

.onsale span {
	vertical-align: middle;
	line-height: 100%;
}

[data-onsale="true"] .onsale {
	display: block;
	position: absolute;
	top:10px;
	right: 10px;
	bottom: auto;
	left: auto;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: red;
	color: white;
	text-align: center;
	padding: 5px;
	transform: rotate(15deg);
}
